body {
    font-family: verdana;
    font-size: 110%;
    background-color: rgb(151, 220, 221);
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px;
    margin: 10px;
}

/* For smooth transition directly on page from links */
html {
    scroll-behavior: smooth;
}

/* My HEADER section */
.heading {
    background: cyan url(/imagesForWDProject/blueBackground.jpg);
    background-size: cover;
    text-align: center;
}

.jumbotron {
    background-color: lightblue;
    text-align: center;
    margin: 10px;
}

#jumbotronText {
    padding: 20px;
    text-align: justify;
}

/* CSS ANIMATION: Applied to my profile picture to meet the rubric requirement - the transitions are minimal to ensure it does not jar the person viewing it */
#profilePhoto {
    width: 16%;
    border-radius: 40%;
    border: 3px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profilePicAnimation {
    animation-duration: 8s;
    animation-name: slide;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    25% {
        margin-left: 3%;
    }

    50% {
        margin-left: 0%;
    }

    75% {
        margin-left: -3%;
    }

    100% {
        margin-left: 0%;
    }
}

/* CAROUSEL */
.carousel-item {
    max-height: 300px !important;
}

.carousel-caption {
    color: blue;
    font-size: xx-large;
    font: bold;
    font-family: fantasy;
}

/* BOOTSTRAP FORM (no JS has been taught yet; therefore added purely to satisfy rubric requirement) */
.form-group {
    margin: 20px;
    background-color: aquamarine;
}

/* CARD */
.card {
    margin: 20px;
}

.card-header {
    background-color: antiquewhite;
}

.card-body {
    background-color: azure;
}

/* MAIN */
h2 {
    background-color: aquamarine;
    border-style: inset;
    border-color: black;
}

/* Text margins ensured small viewports have one and not two columns of text to view */
.row {
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    margin: 20px;
    color: whitesmoke;
}

#toTop {
    color: red;
    margin: 10px;
}

#gmailIcon {
    width: 10%;
}

/* A -blue- hyperlink underline associated with the anchor tag kept appearing next to gmail icon and the following removed it */
#gmailIconLink {
    text-decoration: none;
}

#linkedInIcon {
    width: 8%;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: cyan;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: deepskyblue;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: lightskyblue;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: lightblue
    }
}